<a href="#" class="nav-close"></a>
<a class="hamburger icon-menu" href="#"></a>
<div class="logo">
  <a class="blog-logo" href="{{@blog.url}}">
    <img src="/assets/images/iGEM_Stockolm_logo_230_transparent.gif" alt="{{@blog.title}}" />
  </a>
</div>
<div id="navigator-opener"></div>
<div class="navigation">
  <div class="nav-content">
    <div class="nav-items">
        {{#foreach navigation}}
          <div class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></div>
        {{/foreach}}
    </div>
  </div>
</div>
